/* You can add global styles to this file, and also import other style files */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
  // background-repeat: no-repeat;
  background-position: center;
}

header {
  grid-row: 1;
}

main {
  grid-row: 2;
}

footer {
  grid-row: 3;
  height: 8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  background-image: url('./assets/images/back_3.jpg');
  background-position: center;
  background-size: cover;
}

.footer-logo {
  background-image: url('./assets/images/logo_icon_satmori.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
}

.social-links {
  margin: 2em;
  display: flex;
}

.social-links a {
  margin: 1.5em;
}
